.share-nav__item{
  display: inline-block;
}

.share-post__item{
  width: 48px;
  padding: 0 15%;
}

.share-button{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin: 30px 0;
  padding: 5px 20px;
}

.share-social{
  text-align: center;
}