.footer-social__icon{
  width: 48px;
}

.footer-social__item{
  display: inline-block;
  padding: 0 3%;
}

.social-media{
  font-size: 1.4em;
  padding: 7% 0;
  text-align: center;
  letter-spacing: 1px;
}

.footer-social__container{
  text-align: center;
}