// COLORS

$dark-wine: #560d1d;
$green-secundary: #81bd9f;
$wine-main: #994053;
$wine-post: #cf8998;
$wine-lines: #e190a1;


// FONTS
$font-titular: 'HouseScript', cursive;
$font-principal: 'EB Garamond', serif;

@font-face {
  font-family: HouseScript;
  src: url(../font/HouseScript.ttf);
}

